# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
*.iml
.idea/
out/
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

*.jar
*.class
/target
/classes
/checkouts
/.lein-*
/.nrepl-port
/.idea
